:root {
  --background-color: #ffffff;
  --border-color: #d1d5db;

  --toast-info-bg:          #d6eaf8;
  --toast-info-separator:   #aed6f1;
  --toast-info-text:        #2c3e50;
  --toast-info-close:       #2c3e50;

  --toast-success-bg:       #d4efdf;
  --toast-success-separator:#a9dfbf;
  --toast-success-text:     #1e8449;
  --toast-success-close:    #1e8449;

  --toast-warning-bg:       #fdebd0;
  --toast-warning-separator:#fad7a0;
  --toast-warning-text:     #af691a;
  --toast-warning-close:    #af691a;

  --toast-danger-bg:        #fadbd8;
  --toast-danger-separator: #f5b7b1;
  --toast-danger-text:      #b03a2e;
  --toast-danger-close:     #b03a2e;

  --navbar-element-text: #374151;
  --navbar-element-text-active: #2563eb;
  --navbar-element-background-hover: #f8f9fa;
  --navbar-element-background-active: #eff6ff;

  --text-primary-color: #0d6efd;
  --text-secondary-color: #ffffff;
  --text-danger-color: #dc3545;
  --text-muted-color: #6c757d;

  --navbar-element-radius: 6px;

  --card-background-color: #fafafa;
  --card-border-color: #e6e6e6;

  --order-list-header-text-color: #116ef8;
  --order-list-header-background-color: #E9F2FF;
  --order-list-secondary-font-size: 0.9rem;

  --order-list-default-row-background-color: #ffffff;
  --order-list-hovered-row-background-color: #f3f4f6;
  --order-list-overdue-row-background-color: #fee2e2;
  --order-list-completed-row-background-color: #e5e7eb;

  --border-radius: 10px;
  --small-border-radius: 5px;
}
