:root {
  --toast-info-bg:          #d6eaf8;
  --toast-info-separator:   #aed6f1;
  --toast-info-text:        #2c3e50;
  --toast-info-close:       #2c3e50;

  --toast-success-bg:       #d4efdf;
  --toast-success-separator:#a9dfbf;
  --toast-success-text:     #1e8449;
  --toast-success-close:    #1e8449;

  --toast-warning-bg:       #fdebd0;
  --toast-warning-separator:#fad7a0;
  --toast-warning-text:     #af691a;
  --toast-warning-close:    #af691a;

  --toast-danger-bg:        #fadbd8;
  --toast-danger-separator: #f5b7b1;
  --toast-danger-text:      #b03a2e;
  --toast-danger-close:     #b03a2e;
}