services:
  dev-frontend:
    container_name: dev-frontend
    image: node:25-alpine
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./frontend:/app:rw
      - node_modules:/app/node_modules
    ports:
      - "4200:4200"
    command: sh -c "npm install && npm start -- --host 0.0.0.0"
  dev-backend:
    container_name: dev-backend
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./backend:/app:rw
      - vendor:/app/vendor
    ports:
      - "8000:8000"
    command: sh -c "composer install && php artisan serve --host=0.0.0.0 --port=8000"
    depends_on:
      - dev-database
  dev-database:
    container_name: dev-database
    image: postgres:18.1-alpine3.23
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"

volumes:
  node_modules:
  vendor:
  db:
