:root {
    --font-size-xxs: 0.65rem;
    --font-size-xs: 0.83rem;
    --font-size-sm: 0.9125rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-2xl: 1.5rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 10px;
    --radius-xl: 16px;

    --shadow-xs: 0 1px 2px rgb(0 0 0 / 0.05);
    --shadow-sm: 0 2px 4px rgb(0 0 0 / 0.08);
    --shadow-md: 0 4px 6px rgb(0 0 0 / 0.1);
}