@use './styles/constants.scss';
@use '@ng-select/ng-select/themes/default.theme.css';

@font-face {
    font-family: 'mainFont';
    src: url('../public/fonts/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'mainFont';
    src: url('../public/fonts/Poppins-Regular.ttf');
    font-weight: 400
}

@font-face {
    font-family: 'mainFont';
    src: url('../public/fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'mainFont';
    src: url('../public/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'mainFont';
    src: url('../public/fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

* {
    font-family: 'mainFont';
}

.item-pressable {
    cursor: pointer;
    transition: transform ease 0.15s;

    &:hover {
        transform: scale(1.21);
    }

    &:active {
        transform: scale(1.05);
    }
}
